@import url('http://fonts.googleapis.com/css?family=Lato:300');

html, body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  background: #e74c3c;
  font-family: 'Lato', Arial, sans-serif;
}

// https://css-tricks.com/centering-css-complete-guide/
.u-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.Illustration {
  margin-right: 10px;
  position: relative;
  width: 250px;
  height: 437px;
}
.Illustration:last-child {
  margin: 0;
}

.Illustration figure {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #333;
}

.Illustration img {
  display: block;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.Illustration:hover img {
  opacity: 1;
}

.Illustration svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: #fff;
}

.Illustration figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Illustration h2 {
  margin: 0;
  font-weight: 300;
  font-size: 1.3125rem;
  color: #e74c3c;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateY(60px);
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0.2, 0.1, 1.25);
  timing-function: cubic-bezier(0.2, 0.2, 0.1, 1.25);
}

.Illustration:hover h2 {
  transform: translateY(10px);
}

.Illustration p {
  padding: 0 20px;
  font-weight: 300;
  color: #aaa;
  transform: translateY(60px);
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0.2, 0.1, 1.25);
  timing-function: cubic-bezier(0.2, 0.2, 0.1, 1.25);
}

.Illustration:hover p {
  opacity: 0;
  transform: translateY(10px);
}

.Illustration-view {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
  transform: translateY(100%);
  transition-timing-function: ease-out;
  transition: transform 0.3s;
}

.Illustration:hover .Illustration-view {
  transform: translateY(0);
}

@media screen and (max-width: 800px) {
  .u-container {
    flex-direction: column;
    align-items: center;
  }
  .Illustration {
    width: 350px;
    height: 437px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
